.App {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    box-sizing: border-box;

    button {
        font-size: inherit;
        padding: 0.3em 0.5em;
        border-radius: 0.6em;
        border: 0px;
        transition: background-color 0.2s ease;
        cursor: pointer;
    }
    box-sizing: border-box;
}

html,
body,
#root,
.App {
    height: 100%;
}

.App-header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    h1 {
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 1.5em;
        color: #444;
    }
}

.App-main {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.home-navigation {
    position: absolute;
    left: 2em;
    color: white;
    background-color: darkcyan;
    padding: 0.2em 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.5em;
    svg {
        height: 1.2em;
        margin-right: 0.5em;
        position: relative;
        top: 0.25em;
    }
}
