.App {
    text-align: center;
    font-family: 'Roboto Condensed', serif;
    font-size: 24px;
    box-sizing: border-box;

    button {
        font-size: inherit;
        padding: 0.3em 0.5em;
        border-radius: 0.6em;
        border: 0px;
        transition: background-color 0.2s ease;
        cursor: pointer;
    }
    box-sizing: border-box;
}

html,
body,
#root,
.App {
    height: 100%;
}

.App-header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    h1 {
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 1.5em;
        color: #444;
    }
}

.App-main {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@mixin text-3d($hue) {
    $ts: ();
    @for $i from 1 through 30 {
        $ts: $ts,
            $i * 2px $i * 2px $i * 0.4px hsl($hue + 4 * $i, 100%, 70% + $i);
    }
    box-shadow: $ts, 0 0 30px #87cfeb69, 0 0 55px rgba(108, 207, 247, 0.37);
}

.epub-deco {
    height: 150px;
    background-color: #52ceff4d;
    border: 4px solid white;
    border-radius: 1em;
    margin: 5em;
    padding: 0.8em 0.8em;
    transform: scale3d(1, 1, 1) rotateX(11deg) rotateY(-22deg) rotateZ(0deg)
        translate3d(0px, 0px, 0px) skew(0deg, 0deg);
    filter: hue-rotate(60deg);
    transition: transform 0.3s ease, filter 0.3s ease;
    @include text-3d(197);

    &:hover {
        transform: scale3d(0.95, 0.95, 1) rotateX(11deg) rotateY(-22deg)
            rotateZ(0deg) translate3d(0px, 0px, 30px) skew(0deg, 0deg);
        filter: hue-rotate(120deg);
    }
}

.home-navigation {
    position: absolute;
    left: 2em;
    color: rgb(0, 0, 0);
    background-color: rgb(207, 164, 247);
    padding: 0.2em 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.5em;
    svg {
        height: 1.2em;
        margin-right: 0.5em;
        position: relative;
        top: 0.25em;
    }
}
