.App {
    text-align: center;
    font-family: 'Roboto Condensed', serif;
    font-size: 24px;
    box-sizing: border-box;

    button {
        font-size: inherit;
        padding: 0.3em 0.5em;
        border-radius: 0.6em;
        border: 0px;
        transition: background-color 0.2s ease;
        cursor: pointer;
    }
    box-sizing: border-box;
}

html,
body,
#root,
.App {
    height: 100%;
}

.App-header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    h1 {
        font-size: 2.5rem;
        font-weight: 800;
        line-height: 1.5em;
        color: #444;
    }
}

.App-main {
    // min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2em;
}

.logo {
    width: 40%;
    margin: 0.5em;
}

.logo_title {
    font-size: 300%;
    font-weight: 800;
    
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.125em;
    --background-color: white;
    --stroke-color: lightblue;
    
    text-shadow: 
      
      var(--x-offset)
      var(--y-offset)
      0px
      var(--background-color), 
      
      calc( var(--x-offset) - var(--stroke) )
      calc( var(--y-offset) + var(--stroke) )
      0px
      var(--stroke-color);
}

.logo_subtitle {
    font-size: 100%;
    font-weight: 600;
    
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: rgb(230, 173, 215);
    
    text-shadow: 
      
      var(--x-offset)
      var(--y-offset)
      0px
      var(--background-color), 
      
      calc( var(--x-offset) - var(--stroke) )
      calc( var(--y-offset) + var(--stroke) )
      0px
      var(--stroke-color);
}

.home-navigation {
    position: absolute;
    left: 2em;
    color: rgb(0, 0, 0);
    background-color: rgb(207, 164, 247);
    padding: 0.2em 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.5em;
    svg {
        height: 1.2em;
        margin-right: 0.5em;
        position: relative;
        top: 0.25em;
    }
}
