.container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 3em;
    align-items: flex-end;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;

    .user_control {
        width: 100%;
        height: 10em;
        position: relative;
        gap: 5em;
        text-align: right;
    }

    .ai_control {
        width: 100%;
        height: 100%;
        position: relative;
        gap: 5em;
        text-align: right;
    }
    
    .ai_labels_box {
        width: 100%;
        height: 50%;
        border-radius: 0.5em;
        border: 0.2em solid rgb(117, 124, 132);
        padding: 0.3em;
        box-sizing: border-box;
        resize: none;
        font-size: inherit;
        outline: none;
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
        // .icon {
        //     padding: 0.2em;
        //     &:disabled {
        //         background-color: rgb(171, 178, 186);
        //         cursor: auto;
        //     }
        // }
        .conf_zero {
            display: inline;
            font-size: 50%;
        }
        .conf_one {
            display: inline;
            font-size: 55%;
        }
        .conf_two {
            display: inline;
            font-size: 60%;
        }
        .conf_three {
            display: inline;
            font-size: 65%;
        }
        .conf_four {
            font-size: 70%;
        }
        .conf_five {
            display: inline;
            font-size: 75%;
        }
        .conf_six {
            display: inline;
            font-size: 80%;
        }
        .conf_seven {
            display: inline;
            font-size: 100%;
        }
        .conf_eight {
            display: inline;
            font-size: 120%;
        }
        .conf_nine {
            display: inline;
            font-size: 140%;
        }
    }

    .box_label {
        font-size: 95%;
        text-align: right;
        font-weight: bold
    }
    

    .dropdown {
        width: 60%;
        height: 2em;
        position: relative;
        font-size: medium;
    }

    textarea {
        width: 100%;
        height: 100%;
        border-radius: 0.5em;
        border: 0.2em solid skyblue;
        padding: 0.3em;
        box-sizing: border-box;
        resize: none;
        font-size: inherit;
        outline: none;
        font-family: 'Times New Roman', Times, serif;
    }

    button.save_button {
        font-family: inherit;
        margin-top: 0.2em;
        background-color: #27ce51;
        border: 0.2em solid #ccc;
        transition: border-color 0.2s ease, background-color 0.2s ease;
        padding: 0.5em 0.7em;
        visibility: visible;

        &:hover {
            background-color: #2ebf50;
            border-color: #eee;
        }
        &:disabled {
            background-color: #b8c3b8;
            border-color: #eee;
            cursor: default;
        }
    }

    .icon {
        width: 1.5em;
        height: 1.5em;
        position: absolute;
        top: 0.35em;
        right: 0.35em;
        background-color: skyblue;
        border-radius: 100%;
        padding: 0.1em;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.2s ease, opacity 0.3s ease;
        box-shadow: 1px 1px 5px #999;

        &:hover {
            background-color: rgb(107, 183, 212);
            &.transparent {
                opacity: 0.9;
            }
        }
    }

    .overview {
        width: 100%;
        height: 10em;
        position: relative;
        strong {
            font-weight: bold;
            font-size: larger;
        }    
    }

    .overview_info {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

.transparent {
    opacity: 0.3;
}

