.container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 1em;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    position: relative;

    .loader,
    .loader:before,
    .loader:after {
      border-radius: 50%;
    }
    .loader {
      color: #ffffff;
      font-size: 11px;
      text-indent: -99999em;
      margin: 55px auto;
      position: relative;
      width: 10em;
      height: 10em;
      box-shadow: inset 0 0 0 1em;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
    }
    .loader:before,
    .loader:after {
      position: absolute;
      content: '';
    }
    .loader:before {
      width: 5.2em;
      height: 10.2em;
      background: skyblue;
      border-radius: 10.2em 0 0 10.2em;
      top: -0.1em;
      left: -0.1em;
      -webkit-transform-origin: 5.1em 5.1em;
      transform-origin: 5.1em 5.1em;
      -webkit-animation: load2 2s infinite ease 1.5s;
      animation: load2 2s infinite ease 1.5s;
    }
    .loader:after {
      width: 5.2em;
      height: 10.2em;
      background: skyblue;
      border-radius: 0 10.2em 10.2em 0;
      top: -0.1em;
      left: 4.9em;
      -webkit-transform-origin: 0.1em 5.1em;
      transform-origin: 0.1em 5.1em;
      -webkit-animation: load2 2s infinite ease;
      animation: load2 2s infinite ease;
    }
    @-webkit-keyframes load2 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes load2 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    

    .user_control {
        width: 100%;
        height: 100%;
        position: relative;
        gap: 5em;
        text-align: right;
    }

    .existing_alt {
        max-width: 50em;
        font-size: 80%;
        strong {
            font-weight: bold;
        }
    }

    .ai_control {
        width: 100%;
        height: 100%;
        position: relative;
        gap: 1em;
        text-align: right;
    }
    
    .ai_labels_box {
        width: 100%;
        height: fit-content;
        border-radius: 0.5em;
        border: 0.2em solid rgb(117, 124, 132);
        padding: 0.3em;
        box-sizing: border-box;
        resize: none;
        font-size: inherit;
        outline: none;
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
        // .icon {
        //     padding: 0.2em;
        //     &:disabled {
        //         background-color: rgb(171, 178, 186);
        //         cursor: auto;
        //     }
        // }
        .conf_zero {
            display: inline;
            font-size: 50%;
            padding: 0.5em;
        }
        .conf_one {
            display: inline;
            font-size: 55%;
            padding: 0.5em;
        }
        .conf_two {
            display: inline;
            font-size: 60%;
            padding: 0.5em;
        }
        .conf_three {
            display: inline;
            font-size: 65%;
            padding: 0.5em;
        }
        .conf_four {
            font-size: 70%;
            padding: 0.5em;
        }
        .conf_five {
            display: inline;
            font-size: 75%;
            padding: 0.5em;
        }
        .conf_six {
            display: inline;
            font-size: 80%;
            padding: 0.5em;
        }
        .conf_seven {
            display: inline;
            font-size: 100%;
            padding: 0.5em;
        }
        .conf_eight {
            display: inline;
            font-size: 120%;
            padding: 0.5em;
        }
        .conf_nine {
            display: inline;
            font-size: 140%;
            padding: 0.5em;
        }
        .conf_ten {
            display: inline;
            font-size: 150%;
            padding: 0.5em; 
        }
    }

    .box_label {
        font-size: 95%;
        text-align: right;
        font-weight: bold
    }
    

    .dropdown {
        width: 60%;
        height: 2em;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        font-size: medium;
    }

    textarea {
        width: 100%;
        height: 60%;
        border-radius: 0.5em;
        border: 0.2em solid skyblue;
        padding: 0.3em;
        box-sizing: border-box;
        resize: none;
        font-size: inherit;
        outline: none;
        font-family: 'Times New Roman', Times, serif;
    }
    .moreinfobtn {
        font-size: 0.9em;
        svg {
            height: 0.9em;
            fill: currentColor
            

        }
        opacity: 0.8;
        &:hover {
            background-color: #4a4a4a
        }
        
        border-radius: 5em;
    }


    button.save_button {
        font-family: inherit;
        font-size: 80%;
        margin-top: 0.2em;
        border-radius: 7px;
        background-color: #27ce51;
        border: 0.1em solid #ccc;
        transition: border-color 0.2s ease, background-color 0.2s ease;
        padding: 0.5em 0.7em;
        visibility: visible;

        &:hover {
            background-color: #2ebf50;
            border-color: #eee;
        }
        &:disabled {
            background-color: #b8c3b8;
            border-color: #eee;
            cursor: default;
        }
    }

    button.skip {
        font-family: inherit;
        font-size: 80%;
        margin-left: 0.3em;
        margin-top: 0.2em;
        border:0.1em solid  #191d1a;
        color: #191d1a;
        border-radius: 7px;
        padding: 0.5em 0.7em;
        visibility: visible;

        &:hover {
            background-color: #2ebf50;
            border-color: #eee;
        }
        &:disabled {
            background-color: #b8c3b8;
            border-color: #eee;
            cursor: default;
        }
    }
    
    
    button.restart_button {
        font-family: inherit;
        font-size: 80%;
        margin-top: 0.2em;
        background-color: #27ce51;
        border: 0.2em solid #ccc;
        transition: border-color 0.2s ease, background-color 0.2s ease;
        padding: 0.5em 0.7em;
        visibility: visible;
        position: absolute;
        left: 7em;
        top: 10em;

        &:hover {
            background-color: #2ebf50;
            border-color: #eee;
        }
        &:disabled {
            background-color: #b8c3b8;
            border-color: #eee;
            cursor: default;
        }
    }

    .icon {
        width: 1.5em;
        height: 1.5em;
        position: absolute;
        top: 0.35em;
        right: 0.35em;
        background-color: skyblue;
        border-radius: 100%;
        padding: 0.1em;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.2s ease, opacity 0.3s ease;
        box-shadow: 1px 1px 5px #999;

        &:hover {
            background-color: rgb(107, 183, 212);
            &.transparent {
                opacity: 0.9;
            }
        }
    }

    .overview {
        width: 100%;
        height: 10em;
        position: relative;
        text-align: left;
        strong {
            font-weight: bold;
            font-size: 90%;
        }   
    }

    .overview_info {
        font-size: 90%;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

.transparent {
    opacity: 0.3;
}

