.editor {
    padding: 1rem;
    background-color: #eee;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.container {
    width: 100%;
    position: relative;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5em;
}

.share_button {
    background-color: limegreen;
    position: absolute;
    top: 0.5em;
    right: 2em;
    width: 6em;
}
