.editor {
    padding: 1rem;
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-areas: 'viewer_container annotator_container';
    gap: 1em;
    align-content: stretch;
    flex-grow: 1;
}

.viewer {
    min-height: 600px;
}

.viewer_container {
    grid-area: viewer_container;
    align-self: stretch;
    justify-self: stretch;
}

.annotator_container {
    grid-area: annotator_container;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    position: relative;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.5em;
}

.editor_controls {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    margin-bottom: 0.5em;

    .navigation_button {
        background-color: skyblue;
        border: 0.2em solid #fff;
        transition: border-color 0.2s ease, background-color 0.2s ease;
        padding: 0.3em 0.5em;

        &:hover {
            background-color: rgb(108, 189, 221);
            border-color: #ccc;
        }
        &:disabled {
            background-color: #b8c1c3;
            border-color: #ccc;
            cursor: default;
        }
    }
}

.share_button {
    background-color: limegreen;
    position: absolute;
    top: 0.5em;
    right: 2em;
    width: 6em;
}
