.share_button {
    font-family: inherit;
    background-color: rgb(207, 164, 247);
    width: 100%;
}

.container {
    position: absolute;
    top: 0.5em;
    right: 2em;
}

.popup {
    visibility: hidden;
    display: flex;
    opacity: 0;
    transform: scale(0.7);
    flex-direction: column;
    gap: 0.3em;
    transition: all 0.2s ease;
    position: absolute;
    background-color: hsl(271, 100%, 95%);
    border: 0.3em solid rgb(207, 164, 247);
    box-shadow: 0 0 10px rgb(207, 164, 247);
    border-radius: 0.8em;
    top: 100%;
    right: 0;
    z-index: 999;
    padding: 0.5em;
    margin: 0.5em;

    &.visible {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }

    .tabs {
        display: flex;
        flex-direction: row;
        button {
            border-radius: 0;
            transition: all 0.3s ease;
            $inactive-color: hsl(206, 30%, 75%);
            background-color: $inactive-color;
            color: #222;
            border: 3px solid #aaa;
            text-decoration: underline rgba($color: #000000, $alpha: 0);
            white-space: nowrap;

            &.activebtn {
                background-color: #0a6ebd;
                color: #fff;
                text-decoration: underline white;
                border: 3px solid black;
            }

            &:first-child {
                border-radius: 0.5em 0 0 0.5em;
            }

            &:last-child {
                border-radius: 0 0.5em 0.5em 0;
            }

            &:disabled {
                cursor: not-allowed;
                border: 3px solid $inactive-color;
            }
        }
    }

    input {
        font-size: 0.5em;
        font-family: inherit;
        border: 1px solid white;
        border-radius: 0.3em;
        padding: 0.3em;
        outline: none;
    }

    .copied {
        font-size: 0.9em;
    }

    .close {
        background-color: transparent;
        border-radius: 0;
        padding: 0;
        position: absolute;
        top: 0.2em;
        right: 0.2em;
        color: #333;
        cursor: pointer;
        line-height: 0.6em;
    }
}
