bs4
configparser
coverage
datetime
Django>=3.2,<4.0
django-cors-headers
django-environ
django-rest-framework
djongo
epubcheck
flake8
google-cloud-vision
html.parser
isort==5.8.0
lxml
pycodestyle
pymongo==3.12.0
pytest
sphinx
sqlparse==0.2.4
unittest2