.info_container {
    padding: 1em;
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info_title_container {
    max-width: fit-content;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;

    h1 {
        font-weight: 100;
        font-size: 1.5em;
        line-height: 2em;
    }
}


@mixin text-3d($hue) {
    $ts: ();
    @for $i from 1 through 5 {
        $ts: $ts,
            $i * 2px $i * 2px $i * 1px hsl($hue + 4 * $i, 100%, 70% + 5 * $i);
    }
    box-shadow: $ts, 0 0 30px #87cfeb69, 0 0 55px rgba(108, 207, 247, 0.37);
}

.epub_logo {
    height: 150px;
    width: 150px;
    background-color: #52ceff4d;
    border: 4px solid white;
    border-radius: 1em;
    margin: 1em 3em 3em 1em;
    padding: 0.8em 0.8em;
    transform: scale3d(1, 1, 1) rotateX(11deg) rotateY(-22deg) rotateZ(0deg)
        translate3d(0px, 0px, 0px) skew(0deg, 0deg);
    // filter: hue-rotate(0deg);
    transition: transform 0.3s ease, filter 0.3s ease;
    @include text-3d(197);

    &:hover {
        transform: scale3d(0.95, 0.95, 1) rotateX(11deg) rotateY(-22deg)
            rotateZ(0deg) translate3d(0px, 0px, 30px) skew(0deg, 0deg);
        filter: hue-rotate(120deg);
    }
}

.info_box {
    border-radius: 2em;
    padding: 0.2em;
    max-width: 50%;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2em;

    h1 {
        font-weight: 100;
        font-size: 1.5em;
        line-height: 2em;
    }

    strong {
        font-weight: bold;
        font-size: larger;
    }

    p {
        line-height: 1.2em;
    }

    ul {
        list-style-position: inside;
        list-style-type: disc;
        text-align: left;
    }

    li {
        line-height: 1.5em;
    }
}


.workflow_box {
    border-radius: 1em;
    padding: 0.2em;
    max-width: 100%;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3em;

    strong {
        font-weight: bold;
        font-size: larger;
    }

    p {
        line-height: 1.4em;
    }
}

.step_box {
    border-radius: 1em;
    padding: 0.2em;
    width: 15em;
    max-width: 25%;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap: 0.2em;
}

.step_icon {
    height: 150px;
    width: 160px;
    background-color: #52ceff4d;
    border: 4px solid white;
    border-radius: 1em;
    margin: 1em 1em 1em 1em;
    padding: 0.4em 0.4em;
    transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(-22deg) rotateZ(0deg)
        translate3d(0px, 0px, 0px) skew(0deg, 0deg);
    filter: hue-rotate(0deg);
    transition: transform 0.3s ease, filter 0.3s ease;
    @include text-3d(197);

    &:hover {
        transform: scale3d(0.95, 0.95, 1) rotateX(11deg) rotateY(-22deg)
            rotateZ(0deg) translate3d(0px, 0px, 30px) skew(0deg, 0deg);
        filter: hue-rotate(120deg);
    }
}