.container {
    position: relative;
    width: min-content;
    align-self: center;

    .popup {
        $arrow_size: 0.3em;
        $popup_width: 16em;
        position: absolute;
        visibility: hidden;
        font-size: 20px;
        opacity: 0;
        color: white;
        bottom: 100%;
        left: 50%;
        margin-left: calc($popup_width/-2);
        margin-bottom: $arrow_size;
        width: $popup_width;
        padding: 0.5em 0.6em;
        border-radius: 0.7em;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8);
        transition: opacity 0.3s ease;

        // Tooltip arrow
        &::after {
            content: ' ';
            position: absolute;
            top: 100%; /* At the bottom of the tooltip */
            left: 50%;
            margin-left: -$arrow_size;
            border-width: $arrow_size;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }
    }

    &:hover .popup {
        visibility: visible;
        opacity: 1;
    }

    button {
        font-family: inherit;
        padding: 0.4em 0.7em;
        background-color: rgb(207, 164, 247);
        &:hover {
            background-color: #2ec72e;
        }
    }
}
