.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 1.9em;
    width: 2em;
    margin: 0 0.5em;
}
